/* HEADER COMPONENTS*/
header{
    font-family: Roboto;
    font-weight: bold;
    color: #274C5B; 
    height: 135px;
    width: 1757.79px;
    padding-bottom: 69px;
    padding-right: 162px;
    fill: #FFFFFF;
}
body{
    margin: 0px 0px 0px 0px;
}
nav{
    position: flex; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
}

.menu{
    display: flex;
    list-style: none;
    text-align: left;
    align-items: center;
    padding-inline-start: 0px;
}

li{
    display: inline-block;
}

.brand {
    display: flex;
    font-size: 38px;
    text-align: left;
    color: inherit;
    font-family: inherit;
    margin-right: 150px;
}

a{
    font-size: 20px;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    margin-right: 14.7px;
}

.navigation{
    padding-right: 130px;
}

nav input[type="text"]{
    width: 376px;
    height: 66px;
    border-radius: 36px;
    fill: #FAFAFA;
    background-image: url('search.svg');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}
.search{
    padding-right: 18px;
}
.cart{
    width: 159px;
    height: 66px;
    border-radius: 36px;
    background-color: transparent;
    background-image: url('cart.svg');
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: center;
    font-family: Roboto;
    color: #274C5B;
    font-weight: 600;
    font-size: 18px;
}
/* || */

/* BANNER COMPONENTS */
.banner{
    background: url("background.svg") no-repeat, url("Photo.png") no-repeat right;
    background-color: #F1EFF0;
    border: none;
    width: 1920px;
    height: 898px;
    margin-bottom: 150px;
}

.textonbanner{
    position: relative;
    top: 361px;
    left: 260px;
    text-align: left top;
    width: 530px;
    height: 303px;
}
.firstrow{
    font-family: Yellowtail;
    font-size: 36px;
    color: #68A47F;
    margin-bottom: 8px;
    margin-top: 0px;
    width: 237px;
    height: 49px;
}
.secondrow{
    font-size: 70px;
    font-family: Roboto;
    color: #274C5B;
    font-weight: bolder;
    width: 530px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    margin-top: 0px;
    margin-bottom: 23px;
}
.xplor{
    width: 220px;
    height: 79px;
    background-color: #EFD372;
    border: none;
    border-radius: 16px;
    color:#274C5B;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 97%;
}
/* || */

/* OFFER BANNER COMPONENTS */
.offerbanner{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 180px;
}
.natural{
    background-image: url("pinkph.svg");
    background-repeat: no-repeat;
    width: 682.24px;
    height: 367px;
    margin-right: 18px;
}
.naturaltext{
    font-family: Yellowtail;
    font-size: 36px;
    color: #FFFFFF;
}
.garden{
    font-family: Roboto;
    font-size: 40px;
    font-weight: bolder;
    width: 277px;
    color: #FFFFFF;
}
.offer{
    background-image: url("tenpercent.png");
    background-repeat: no-repeat;
    width: 682.24px;
    height: 367px;
    border-radius: 25px;
    margin-left: 18px;
}

.offertext{
    font-family: Yellowtail;
    font-size: 36px;
    color: #7EB693;
}
.tenperc{
    font-family: Roboto;
    font-size: 40px;
    font-weight: bolder;
    width: 320px;
    color:#274C5B;
}
/* || */

/* ABOUT COMPONENTS */
.about{
    margin-top: 0px;
    background-image: url("about_background.svg");
}
.about_pic{
    margin-top: 0px;
}